/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f8f9fa; /* Fondo suave */
  color: #212529; /* Texto oscuro */
  padding: 20px;
}

/* Encabezados */
h1, h2, h3 {
  margin-bottom: 20px;
  color: #343a40;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Botones */
button {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

/* Contenedores */
/*
div {
  margin-bottom: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width:100%
}
*/

/* Listas */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

/* Navegación */
nav {
  background-color: #343a40;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  padding: 10px 15px;
  margin: 0 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #495057;
  color: #f8f9fa;
}

/* Mensajes de carga */
p {
  margin-bottom: 10px;
  color: #6c757d;
  font-style: italic;
}
